
*, *:before, *:after {
padding: 0;
margin: 0;
box-sizing: border-box;
}
ol, ul {
list-style: none;
}
a {
text-decoration: none;
color: inherit;
}
.cp_cont {
height: 65vh;
}
/* menu */
.cp_offcm03 {
position: relative;
z-index: 5;
top: 0;
left: 0;
overflow: auto;
width: 100%;
height: auto;
padding-top: 0;
-webkit-transition: transform 0.3s ease-in;
transition: transform 0.3s ease-in;
text-align: center;
color: #ffffff;
background-color: brown;
}
.cp_offcm03 nav,
.cp_offcm03 ul {
height: 100%;
}
.cp_offcm03 li {
display: inline-block;
margin-right: -6px;
border: none;
}
.cp_offcm03 a {
display: block;
padding: 12px 45px;
-webkit-transition: background-color .3s ease-in;
transition: background-color .3s ease-in;
}
.cp_offcm03 a:hover {
background-color: #663333;
}

/* menu toggle */
#cp_toggle03 {
display: none;
}
#cp_toggle03:checked ~ .cp_offcm03 {
-webkit-transform: translateX(0);
transform: translateX(0);
}
#cp_toggle03:checked ~ .cp_container {
-webkit-transform: translateX(0);
transform: translateX(0);
}
.cp_mobilebar {
display: none;
}
/* content */
.cp_container {
position: relative;
top: 0;
padding: 35px auto;
-webkit-transition: transform .3s ease-in;
transition: transform .3s ease-in;
}


.cp_content {
margin: 0 auto;
padding: 0px;
height: 65vh;
text-align: ;
}


@media only screen and (max-width:1300px) {
    
.swiper-container {
top: 60px;
width: 100%;
height: 370px;
    } 
    
/* menu */
.cp_offcm03 {
position: fixed;
left: -250px;
overflow-y: hidden;
width: 250px;
height: 100%;
padding-top: 60px;
color: #ffffff;
background-color: brown;
margin-bottom: 0px;

}
    
.cp_offcm03 nav {
    
  background: #663333;
  
    
   /* 縦方向のスクロールバーを表示 */
  overflow-y: scroll;

  /* IE などのスクロールバーの色設定 */
  scrollbar-face-color: #999;
  scrollbar-track-color: #eee;

  /* スマホ用の慣性スクロール */
  -webkit-overflow-scrolling: touch;

}
    
    
.cp_offcm03 li {
display: block;
margin-right: 0;
border-bottom: 1px solid #ffffff;

    
}
    
.cp_offcm03 a {
padding: 20px;
}
    .cp_offcm03 a:hover{
     background: brown;   
    }    
/* menu toggle */
.cp_mobilebar{
display: block;
z-index: 10;
position: fixed;
top: 0;
left: 0;
padding: 0 25px;
width: 100%;
height: 100px;
background-color: brown;
    
}
.cp_menuicon {
display: block;
position: relative;
width: 35px;
height: 100%;
cursor: pointer;
-webkit-transition: transform .3s ease-in;
transition: transform .3s ease-in;
}
.cp_menuicon > span {
display: block;
position: absolute;
top: 55%;
margin-top: -0.3em;
width: 100%;
height: 0.2em;
border-radius: 1px;
background-color: #eeeeee;
-webkit-transition: transform .3s ease;
transition: transform .3s ease;
}
.cp_menuicon > span:before,
.cp_menuicon > span:after {
content: '';
position: absolute;
width: 100%;
height: 100%;
border-radius: 1px;
background-color: #eeeeee;
-webkit-transition: transform .3s ease-in;
transition: transform .3s ease-in;
}
.cp_menuicon > span:before {
-webkit-transform: translateY(-0.6em);
transform: translateY(-0.6em);
}
.cp_menuicon > span:after {
-webkit-transform: translateY(0.6em);
transform: translateY(0.6em);
}
#cp_toggle03:checked + .cp_mobilebar .cp_menuicon {
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}
#cp_toggle03:checked + .cp_mobilebar span:before,
#cp_toggle03:checked + .cp_mobilebar span:after {
-webkit-transform: rotate(90deg);
transform: rotate(90deg);
}
#cp_toggle03:checked ~ .cp_offcm03 {
-webkit-transform: translateX(100%);
transform: translateX(100%);
}
#cp_toggle03:checked ~ .cp_container {
-webkit-transform: translateX(250px);
transform: translateX(250px);
}
    
    
/* content */
.cp_container {
top: 60px;
height: 92vh;
}
    
    
}


/* 以下はパソコンでの文字関連の装飾です！ */

html { 
}

.midashi{
    color: white;
    font-size:25px;
}

h1.ochiken{
    color: brown;
    font-size: 30px;
}
p1.ochiken{
    color: darkslategrey;
    font-size:25px;
}
p.ochiken{
    color: black;
    font-size:20px;
}


@media only screen and (min-width:1199px) {
div.cover {
   display: table;
   border-spacing: 1em 3px;
   margin: 0px;
   padding: 0px;
   width: 100%;
}

div.cover div.box1 {
   display: table-cell;
   width: 70%;
}
div.cover div.box2 {
   display: table-cell;
   width: 30%
}

}




@media only screen and (max-width:1200px) {
    
    /* 以下はスマホでの文字関連の装飾です！ */

.midashi{
    color: white;
    font-size:2.5vh;
}


h1.ochiken{
    color: brown;
    font-size: 3.5vh;
}
p1.ochiken{
    color: darkslategrey;
    font-size:3vh;
}
p.ochiken{
    color: black;
    font-size:2.5vh;
}


p.resizeimage img {
    width:100%;
    height: auto;
}
ul.menubar{
    list-style:none;
}

    
    
